<!-- Social Share -->
{% if page.share %}
<div class="social-share">
  <h4>공유하기</h4>
  <ul class="social-icons">
    <li>
      <a href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}&url={{ page.url | absolute_url }}" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-twitter"></i> Twitter
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url }}" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-facebook"></i> Facebook
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ page.url | absolute_url }}" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-linkedin"></i> LinkedIn
      </a>
    </li>
  </ul>
</div>
{% endif %} 